.nav{
  animation-delay: 1.8s;
}

#introHeader{
    animation-delay: 0.2s;
}

#helloLine{
  animation-delay: 1s;
}


#intro{
  animation-delay: 1.4s;
}

#introEmail{
  animation-delay: 1.4s;
}

#verticalScrollLine{
  animation-delay: 1.8s;
}
