<div class="nav">
  <a href="javascript:delay('../index.html#workHeader')" class="exitClick" id="nameLogo">César Neri</a>
  <ul class="menu">
    <li id="workMenu">
      <span>Work<img id="menuExpand" src="../assets/icons/expand.png"></span>
      <ul>
        <li><a href="javascript:delay('dynamicPlanning.html')" class="exitClick">Dynamic Planning</a></li>
        <li><a href="javascript:delay('colorSpace.html')" class="exitClick">Color Space</a></li>
        <li><a href="javascript:delay('tidalLight.html')" class="exitClick">Tidal Light</a></li>
        <li><a href="javascript:delay('formCode.html')" class="exitClick">Form + Code</a></li>
        <li><a href="javascript:delay('facialProjectionMapping.html')" class="exitClick">Facial Projection Mapping</a></li>
      </ul>
    </li>
  </ul>
</div>
