<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="css/index.css">


<div class="nav">
  <a href="../index.html" class="display-font primary-color" id="nameLogo">César Neri</a>
  <!-- <ul class="menu">
    <li id="workMenu">
      <span class="navItem secondary-color">Work
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </span>
      <ul>
        <li><a href="javascript:delay('dynamicPlanning.html')" class="exitClick">Dynamic Planning</a></li>
        <li><a href="javascript:delay('colorSpace.html')" class="exitClick">Color Space</a></li>
        <li><a href="javascript:delay('tidalLight.html')" class="exitClick">Tidal Light</a></li>
        <li><a href="javascript:delay('formCode.html')" class="exitClick">Form + Code</a></li>
        <li><a href="javascript:delay('facialProjectionMapping.html')" class="exitClick">Facial Projection Mapping</a></li>
      </ul>
    </li>
  </ul> -->
</div>
